@inherits LayoutComponentBase
@using MatBlazor

<MatAnchorUtils></MatAnchorUtils>
<MatAppBar Style="z-index: 100;" Class="mat">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatIconButton Icon="menu" OnClick="@(e => MenuButtonClicked())"></MatIconButton>
            <MatAppBarTitle>AdventOfCode.Web</MatAppBarTitle>
        </MatAppBarSection>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <MatHidden BreakPoint="@MatBreakpoint.XS" Direction="@MatHiddenDirection.Down">
                <MatIconButton Link="https://jamiemagee.co.uk" Target="_blank">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </MatIconButton>
                <MatIconButton Link="https://twitter.com/Jamie_Magee" Target="_blank">
                    <i class="fa fa-twitter"></i>
                </MatIconButton>
                <MatIconButton Link="https://github.com/JamieMagee/AdventOfCode" Target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </MatIconButton>
            </MatHidden>
            <MatHidden BreakPoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up">
                <MatIconButton Icon="more_vert" OnClick="@OpenSmallMenu" @ref="_smallMenuButton"></MatIconButton>
                <MatMenu @ref="_smallMenu" style="z-index: 100;">
                    <MatList>
                        <MatListItem Href="https://jamiemagee.co.uk" target="_blank">
                            JamieMagee.co.uk
                        </MatListItem>
                        <MatListItem Href="https://twitter.com/Jamie_Magee" target="_blank">
                            Twitter
                        </MatListItem>
                        <MatListItem Href="https://github.com/JamieMagee/AdventOfCode" target="_blank">
                            Github
                        </MatListItem>
                    </MatList>
                </MatMenu>
            </MatHidden>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>

<MatDrawerContainer Style="width: 100vw; height: 100vh;">
    <MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up" HiddenChanged="@MenuButtonClicked">
        <ChildContent>
            <MatDrawer @bind-Opened="@_navMenuOpened" Mode="@MatDrawerMode.Modal">
                <MatAppBarAdjust></MatAppBarAdjust>
                <NavMenu></NavMenu>
            </MatDrawer>
        </ChildContent>
        <ElseContent>
            <MatDrawer @bind-Opened="@_navMenuOpened" Mode="@MatDrawerMode.Dismissible">
                <MatAppBarAdjust></MatAppBarAdjust>
                <NavMenu></NavMenu>
            </MatDrawer>
        </ElseContent>
    </MatHidden>
    <MatDrawerContent Class="mat">
        <MatAppBarAdjust></MatAppBarAdjust>
        <div class="body-wrapper">
            @Body
        </div>
    </MatDrawerContent>
</MatDrawerContainer>


@code {
    private bool _navMenuOpened = true;
    private BaseMatIconButton _smallMenuButton;
    private BaseMatMenu _smallMenu;

    private void MenuButtonClicked()
    {
        _navMenuOpened = !_navMenuOpened;
        StateHasChanged();
    }
    
    private async Task OpenSmallMenu(MouseEventArgs e)
    {
        await _smallMenu.OpenAsync(_smallMenuButton.Ref);
    }
}